.button
{
    -fx-background-color: #009EFF;
}
.button:hover
{
    -fx-background-color: #046e9a;
}
.button:pressed {
    -fx-background-color: #065481;
}
.button:focused {
    -fx-background-color: #42abe3;
    -fx-text-fill: black;
}
.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
/*.table-row-cell:hover {*/
/*    -fx-background-color: #93f9b911;*/
/*    -fx-text-background-color: red;*/
/*}*/
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:selected{
    -fx-background-color: #1dbbdd;
}

.table-row-cell:selected .text {
    -fx-fill: #000000;
    -fx-font-weight: bold;
}
/*.progress-bar {*/
/*    -fx-accent: rgba(0, 138, 230, 0.85);*/
/*}*/

/*.progress-bar .bar {*/
/*    -fx-padding: 1px;*/
/*    -fx-background-insets: 0;*/
/*    -fx-background-radius: 0;*/
/*}*/

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}
#password {
    -fx-background-color: #cce7f3;
    -fx-background-radius: 7px;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10, 0.0, 0, 10);
}
.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}
#tableVbox{
    -fx-background-color: #a2d3fc;
    -fx-background-radius: 2em;
    -fx-border-style: solid;
    -fx-border-radius: 2em;
}
#tableVbox .button{
    -fx-background-color: #009EFF;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}
#tableVbox .button:disabled{
    -fx-background-color: #5fadde;

}
#tableVbox .button:hover{
    -fx-background-color: #046e9a;

}
#tableVbox .buttonDelete{
    -fx-background-color: #ef3d3d;
    -fx-text-fill: white;

}
#billVbox{
    -fx-border-style: solid;
    -fx-border-width: 0 5 0 0;
    -fx-border-color: #009EFF;
}

